.app-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #121212;
	color: #ffffff;
}
  
.heading {
	font-size: 4rem;
	margin-bottom: 20px;
}
  
.counter-button {
	font-size: 1.5rem;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #1f1f1f;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s;
}
  
.counter-button:hover {
	background-color: #333333;
}
