.profile-container {
	display: flex;
	flex-direction: column;
	align-items: start;
    justify-items: center; 
    width: 100%;
}

.alert-box {
	position: absolute;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 7;
}

.contour-informations {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 4rem;
    align-items: center;
	background-color: #1f2937;
	border-radius: 12px;
	padding: 10% 5%;
	margin: 5.5rem 0 auto;
	position: relative;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
    position: absolute;
    top: 2rem;
    left: 8rem;
    transform: translateX(-50%);
	z-index: 6;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.profile-picture {
	aspect-ratio: 1 / 1;
	width: 22rem;
	height: auto;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #319795;
	background-color: #fff;
}

.left-informations,
.right-informations {
	color: #319795 !important;
	width: 50%; /* Les deux sections prennent la moitié de l'espace */
	display: flex;
	flex-direction: column;
	gap: 1rem; /* Espacement entre les champs */
}

.left-informations {
	margin-left: 0;
	margin-right: 2rem;
}

.separator {
	border-left: 2px solid #319795;
	margin: 0;
	height: 15rem;
}

.right-informations {
	margin-right: 0;
	margin-left: 2rem;
}

input, textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 2px solid #319795;
	border-radius: 8px;
	background-color: #f9f9f9;
	font-size: 1rem;
	color: #333;
	transition: all 0.3s ease;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
	outline: none;
	border-color: #2c7a7b;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(50, 150, 145, 0.5);
}

textarea {
	resize: none; /* Empêche le redimensionnement */
	height: 100px; /* Hauteur par défaut */
}

.button-container {
    position: absolute; /* Permet de fixer la position dans le conteneur parent */
    bottom: 20px; /* Place les boutons à 10px du bas */
    right: 20px; /* Place les boutons à 10px du côté droit */
    display: flex; /* Aligne les boutons côte à côte */
    gap: 15px; /* Ajoute un espace entre les boutons */
}

.button-container button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #319795;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: #267a6f;
	transform: translateY(-2px);
}

.button-save {
	color: white;
	background: linear-gradient(to right, #38b2ac, #319795, #2c7a7b); /* from-teal-400 via-teal-500 to-teal-600 */
	font-size: 0.875rem; /* text-sm */
	border-radius: 0.375rem; /* rounded-lg */
	text-align: center;
	box-shadow: 0 4px 6px rgba(56, 178, 172, 0.5); /* shadow-teal-500/50 */
	cursor: pointer;
}

.button-cancel {
	color: white;
	background: linear-gradient(to right, #38b2ac, #319795, #2c7a7b); /* from-teal-400 via-teal-500 to-teal-600 */
	font-size: 0.875rem; /* text-sm */
	border-radius: 0.375rem; /* rounded-lg */
	text-align: center;
	box-shadow: 0 4px 6px rgba(56, 178, 172, 0.5); /* shadow-teal-500/50 */
	cursor: pointer;
	padding: 0.75rem 1.4rem;
	text-decoration: none;
}

.button-cancel:hover {
	background-color: #a81919;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.match-history {
    display: flex;
    flex-direction: column;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.win-lose-chart {
    margin-top: 20px;
    text-align: center;
}
