.app-container {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #319795;
}

.header {
	font-size: 24px;
	color: white;
}

.hero-section,
.game-section,
.about-us-section {
	padding: 20px;
	text-align: center;
}
