.custom-cell {
    border: 1px solid rgba(49, 97, 93, 0.5); /* couleur teal-900/50 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
