[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn

[dn]
C = FR
ST = Alpes-Maritimes
L = Nice
O = Ecole
OU = Ecole
CN = transcendence.fr

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = transcendence.fr
DNS.2 = nginx