.popup-overlay {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-box {
	background: #2d3748;
	padding: 20px;
	border-radius: 10px;
	min-width: 60vw;
	max-width: 90vw;
	min-height: 60vh;
	max-height: 95vh;
	overflow-y: auto;
	position: relative;
	z-index: 5;
}

.popup-close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: lightslategray;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}
